.block-industry {
    display: flex;
    justify-content: center;
    color: #2C1258; 
    margin: 174px 0 32px 0;
}

.block-industry__info {
    width: 580px;
    margin-right: 70px;
}

.block-industry__info h1 {
    margin: 19px 0 26px 0;
}

.block-industry__info__statistics   {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.block-industry__info__statistics-item {
    padding: 25px;
    width: 253px;
    border-radius: 10px;
    background-color: #F6F1FF;
    display: flex;
}

.block-industry__info__statistics-item h4 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 300;
    margin-left: 21px;
}

.block-industry__info__statistics-item p {
  font-size: 15px;
  line-height: 28px;
  margin-left: 21px;
}

@media (max-width: 1200px) {
    .industry-back-image{
      width: 400px;
    }
    
.block-industry__info__statistics-item {
    padding: 20px;
    width: 200px;
}
}

@media (max-width: 960px) {
    .block-industry .containers {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .block-industry__info {
       margin-right: 0;
        width: 90%;
    }

    .block-industry__info__statistics   {
        justify-content: start;
        gap: 20px;
    }
}

@media (max-width: 675px) {
    .block-industry__info__statistics-item {
        padding: 15px;
    }
    

    .block-industry__info__statistics-item img {
        width: 45px;
    }

    .block-industry__info__statistics-item p,.block-industry__info__statistics-item h4 {
        margin-left: 10px;
        font-size: 15px;
    }

    .industry-back-image {
        width: 350px;
    }
}

@media (max-width: 430px) {
    .block-industry__info__statistics {
        flex-wrap: wrap;
    }

    .block-industry__info__statistics-item {
        margin-bottom: 10px;
        width: 100%;
    }

    .industry-back-image {
        display: none;
    }

    .block-industry__info__statistics-item img {
        width: 60px;
    }

    .block-industry__info__statistics-item h4 {
        margin-left: 30px;
        font-size: 18px;
    }

    .block-industry__info__statistics-item p {
        font-size: 15px;
        margin-left: 30px;
      }
}
