.block-services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #2C1258;
    margin: 0 2%;
}

.block-services__container {
    margin: 75px 2% 0 2%;
    max-width: 1160px;
    text-align: center;
}

.block-services__sevices-box {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    margin: 31px 0 0 0px;
}

.block-services__sevices-box__item {
    width: 165px;
    height: 110px;
    background-color: #FFFFFF;
    box-shadow: 0px 20px 60px 0px #0000000D;
    align-items: center;
    text-align: center;
    position: relative;
}

.block-services__sevices-box__item:hover {
    cursor: pointer;
    background-color: #F4AB00;
}

.block-services__sevices-box__item img {
    margin: 25px 0 8px 0;
}

.square {
    width: 25px;
    height: 25px;
    background-color: #F4AB00;
    position: absolute;
    left: 72px;
    top: 97px;
}

.block-services__content {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.block-services__info {
    width: 420px;
    text-align: start;
    margin-top: 25px;
}

.block-services__info__title {
    font-size: 34px;
    line-height: 54px;
    margin-bottom: 13px;
}

.block-services__info p {
    margin-bottom: 20px;
}

.block-services__info__advantages {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 28px;
}

.block-services__info__advantages svg {
    margin: 0 17px 0 5px;
}

.block-services__info__btn {
    margin-top: 25px;
    width: 186px;
    height: 52px;
}

@media (max-width:1200px) {
    .block-services__sevices-box {
       flex-wrap: wrap;
       justify-content: center;
       width: 100%;
    }
    .block-services__sevices-box__item {
        margin: 0 15px 20px 0;
    }
}

@media (max-width: 1036px) {
    .service-image {
        width: 400px;
    }

    .block-services__info {
        width: 360px;
        margin: 0 0 20px 0;
    }
}

@media (max-width:780px) {
    .service-image {
        display: none;
    }
    .block-services__content {
        justify-content: center;
        margin-top: 50px;
    }

    .block-services__info {
        width: 420px;
    }
}

@media (max-width: 470px) {
    .block-services__info {
        width: 350px;
    }
    .block-services__info__btn {
        width: 135px;
        height: 42px;
    }
}