header {
    width: 100%;
    background-color:#6425CB;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2%;
}

.header-contact {
    width: 1160px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.header-contact__info  {
    display: flex;
}

.header-contact__info__social {
    display: flex;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 28px;
    margin-right: 26px;
}

.header-contact__info__social img {
    margin-right: 12px;
}

.header-contact__info__social-icons img{
    margin-left: 15px;
}

.header-container {
    height: 94px;
    width: 1160px;
    padding: 27px 15px 26px 16px;
    background-color:#FFFFFF;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.header-container__logo {
    margin-top: 12px;
}

.header-container__menu {
    list-style: none;
    display: inline-flex;
    margin: 8px 0 0 18px;
}

.header-container__menu li {
    margin-right: 30px;
}

.header-container__form-button {
    width: 100px;
    height: 41px;
}

.menu-icon {
    margin-top: 10px;
    width: 20px;
    height: 14px;
    cursor: pointer;
    position: relative;
    display: none;
  }
  .menu-icon span {
    background-color: black;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    transition: all 0.3s ease;
  }
  .menu-icon span:first-child {
    top: 0;
  }
  .menu-icon span:nth-child(2) {
    top: 6px;
  }
  .menu-icon span:last-child {
    top: 12px;
  }
  .menu-icon:hover span:nth-child(2) {
    opacity: 0;
  }
  .menu-icon:hover span:first-child,
  .menu-icon:hover span:last-child {
    top: 6px;
    background-color: red;
  }
  .menu-icon:hover span:first-child {
    transform: rotate(45deg);
  }
  .menu-icon:hover span:last-child {
    transform: rotate(-45deg);
  }


@media (max-width: 845px) {
    .header-container__menu, .header-container__form-button {
        display: none;
    }

    .menu-icon {
        display: block;
    }
}


@media (max-width: 595px) {
    .header-contact__info {
        flex-wrap: wrap;
        width: 200px;
    }

    .header-contact__info__social {
        margin-top: 5px;
    }
}